<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Register</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style/theme.css">
  <link rel="stylesheet" href="/style/authform.css">
</head>
<body>
  <main class="auth-container">
    <form class="auth-form" method="POST" action="/auth/register">
      <h1 class="form-title">Create new account</h1>
      <label>
        <span>Email</span>
        <input id="register-email" type="email" name="email" required/>
      </label>
      <label>
        <span>Username</span>
        <input id="register-username" type="text" name="username" required  />
      </label>
      <label>
        <span>Password</span>
        <input type="password" name="password" required  />
      </label>
      <button type="submit" class="submit-btn">Sign Up</button>
      <a href="/auth/login" class="secondary-btn">Already have an account? Log in</a>
    </form>
  </main>
  <script src="/script/script.js"></script>
</body>
</html>